body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  background-color: #FF5252;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 200;
}

h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 200;
}

h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 200;
}

h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 200;
}

h5 {
  font-size: 1.2em;
  /*color: #607d8b;*/
  color: black;
  text-transform: uppercase;
  text-align: right;
}

h6 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 200;
}

p {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  font-size: 0.8rem;
  font-weight: 200;
}

/*STYLING FOR NAV-BAR*/

#nav-font a {
  font-size: 1rem;
  /*font-weight: bold;*/
  letter-spacing: 0.1rem;
  color: indigo;
}

.navbar-fixed {
  height: 210px;
  background-color: #FF5252;
}

nav .logo-text {
  border-left: 0.1rem solid #b6b6b6;
  /*bottom: 165px;*/
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  padding-left: 0.75rem;
  position: relative;
  text-transform: uppercase;
}

nav .logo-png {
  padding-left: 15px;
  padding-top: 13px;
  width: 200px;
}

nav ul li {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

nav ul a {
  display: inline;
}

// Class for when element is above threshold
.pin-top {
  position: relative;
}

// Class for when element is below threshold
.pin-bottom {
  position: relative;
}

// Class for when element is pinned
.pinned {
  position: fixed !important;
}

main {
  flex: 1 0 auto;
}

main input[type=text]:focus:not([readonly]),
main input[type=password]:focus:not([readonly]),
main textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #607d8b;
  box-shadow: 0 1px 0 0 #607d8b;
}

main input[type=text]:focus:not([readonly]) + label,
main input[type=password]:focus:not([readonly]) + label,
main textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #607d8b;
}


main .parallax-container {
  height: 300px;
}

main .parallax-container img {
  width: 100%;
}

main .card {
  margin-top: 30px;
}

footer.page-footer small {
  padding-left: 15px;
}

@media only screen and (min-width: 601px) {
  nav .logo-png {
    padding-top: 20px;
  }
}

/*STYLING FOR STORE*/

/*.store-front {
  border-radius: 10px;
  border-color: black;
  border-width: medium;
}*/

.item-name {
  font-size: 12px;
}

/*STYLING FOR BIO*/

.bio-pic {
  padding-left: 30px;
  /*padding-top: 100px;*/
}

/*STYLING FOR SPLASH PAGE & LOTUS ANIMATION*/

#splash {
  /*background-color: snow;*/
  padding-bottom: 20px;
  color: indigo;
}

.object {
  position: absolute;
  transition: all 2s ease-in-out;
}

.lotus-top{
  top: 0%;
  left: 33%;
  height: 450px;
  /*top: 18%;
  left: 40%;
  height: 250px;*/
  -webkit-animation-name: lotus;

  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;

  /* Chrome, Safari, Opera */
  animation-name: lotus;
  animation-duration: 2s;
}
#axis:hover .lotus-bottom-move{
  transform: translate(0, -10px) scale(2);
}

#axis:hover .lotus-top-move{
  transform: translate(0,-700px) scale(2);
}

.lotus-bottom{
  height: 400px;
  left: 22%;
  top: 35%;
  /*height: 200px;
  left: 35%;
  top: 40%;*/

  -webkit-animation-name: lotus;

  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;

  /* Chrome, Safari, Opera */
  animation-name: lotus;
  animation-duration: 2s;
}

/*CSS FOR POSES TEMPLATE*/

/*#poseContainer {
  margin: auto;
  margin-left: 10px;
  padding: 20px;
}*/

.poseName {
  /*padding-left: 10px;*/
  /*text-align: center;*/
  /*font-size: 60px;*/
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

span {
  padding-left: 20px;
  text-align: right;
}

/*CSS FOR ACADEMY TEMPLATE*/

.academy {
  font-size: 1.0em;
}

.academyCont {
  margin-top: 100px;
}

/*input:focus {
  color: indigo !important;
}*/

/*:active{
  border-bottom: red;
}*/

/*CSS FOR AYURVEDA TEMPLATE*/

.doshas {
  color: black;
}

.quote {
  font-style: italic;
}

.email {
  color: indigo;
  font-weight: bold;
}

#email:hover {
  color: indigo !important;
}

/*CSS FOR QUIZ TEMPLATE*/

.quizfont {
  color: indigo;
 }

/*CSS FOR SIGNUP TEMPLATE*/

.signup {
  color: indigo;
  font-weight: bold;
 }

 /*CSS FOR YOGA TEMPLATE*/

 .om {
   color: indigo;
   font-weight: bold;
   font-size: 50px;
 }

/*CSS FOR BUTTONS*/

.btn-large {
  color: white;
  background-color: indigo;
}

.btn-large:hover {
  color: white;
  background-color: #FF5252;
}

.btn-large:active {
  color: white;
  background-color: #8bc34a;
}

.btn-large::after {
  color: white;
  background-color: red;
}

.back {
  opacity: 0.75;
}

/* label color */
 .input-field label {
   color: indigo;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: indigo;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid indigo;
   box-shadow: 0 1px 0 0 indigo;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid indigo;
   box-shadow: 0 1px 0 0 indigo;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid indigo;
   box-shadow: 0 1px 0 0 indigo;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: indigo;
 }

/*CALENDAR CSS*/

.calendar {
  padding-top: 100px;
}



/*.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}*/

/*.ui-datepicker {
    display: none;*/
    /*width: 294px;*/
    /*height: 700px;
    padding: 35px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 24px;

    background: #141517;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; }

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,*/
/*.ui-datepicker-next span{*/
    /*display: block;*/
    /*width: 5px;
    height: 10px;
    text-indent: -9999px;*/

    /*background-image: url(../images/bio.jpg);*/
/*}*/

/*.ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}

.ui-datepicker-calendar td {
    padding: 0 7px;

    text-align: center;
    line-height: 104px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;*/
    /*width: 26px;*/
    /*outline: none;*/

    /*text-decoration: none;*/
    /*color: #a8a8a8;*/

    /*border: 1px solid transparent;*/
/*}*/

/*.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }*/
