<main>
  <div class="container center">
    <h1 id="explanation">Our Kula</h1>
  </div>

  <div class="container">
    <br>
    <div class="bio-pic"><img class="right" src="/images/bio.jpg" width="25%"></div>
    <h6>Founder</h6>
    <p>Ruva Love, 500hr E-RYT and Certified Ayurvedic Practitioner, is a devoted practitioner and disciple of yoga and Ayurveda. She guides her students to explore the union of body, mind and spirit through Ayurvedic principles, asana (posture), pranayama (breath work) and meditation.</p>
    <p>Haley maintains specialty certifications in Restorative Yoga, Yoga Nidra, Yin Yoga, Prenatal Yoga, Stand-up Paddleboard Yoga, Laughter Yoga and is Butender certified in the state of Colorado. Current First Aid, CPR & AED certified.</p>
  </div>

</main>
