<main>
    <!-- <div class="parallax-container">
        <div class="parallax"><img src="/images/books.jpeg"></div>
      </div> -->

    <div class="container center">
        <h4>Ayurveda roughly translates to the “science of life”. It is the worlds oldest form of medicine, dating beyond five thousand years, focusing on preventative healthcare, rejuvenation and longevity using natural law.</h4>
        <br>
        <h5 class="center quote">Discover the art of self-healing through Ayurveda.</h5>
        <br>
        <hr>
    </div>
    <br>
    <div class=" container parralax-container">
        <!-- <div class="col-xs-6 col-md-6"> -->
        Each of us is made up of a combination of the elements: ether (space), air, fire, water and earth. Our individual bodily make-up, or constitution, when honored allows us to live in harmony and serenity. The five elements then pair-up into three combinations
        (known as doshas) to form the primary forces of nature.
        <br>
        <br>
        Each of us carry our own unique dosha that is established at time of birth. This is known as our prakriti. Our current constitution, known as our vikriti, has the ability to change while prakriti does not. Life influences (such as diet, environmental
        factors, lifestyle, etc.) cause vikriti to move out of balance from our prakriti, shifting us out of harmony. In excess this can lead to disease. Ayurveda strives to keep us in a state of serenity and out of a state of stress.
    </div>
    <br>
    <hr>

    <div class="container center col lg-4 md-4 sm-4">
        <h6>The 3 Doshas: Vata | Pitta | Kapha</h6>
        <p>Ayurveda states that each of us is born with a unique combination of elemental energies, called doshas. Our dosha is derived from a combination of the five great elements: ether, air, fire, water and earth. The doshic combination we are born with
            (our prakriti - see “What is Ayurveda“) stays with us throughout our lifetime, while our current state of being (vikriti) may be swayed away from our original nature by outside factors.</p>
        <p>All of us embody all three doshas, while maintaining a dominant (or dual-dominant) dosha. Keeping our original doshic nature in balance allows us to experience life in a harmonious state. The three doshas are Vata, Pitta and Kapha.</p>

        <script>
            $(document).ready(function() {
                // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });
        </script>

        <!-- Modal Trigger -->
        <a class="btn-large" href="#modal1">Vata | Pitta | Kapha</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4 class="doshas">Vata (ether and air):</h4>
                <p class="doshas">The three dominant qualities of Vata are light, cold and dry. Vata dominant individuals have thin frames and small or narrow features. They are creative, spontaneous and enjoy change and movement. Vata individuals have little or a light appetite. When Vata is out of balance it may produce anxiety, fear, insomnia, and irregular digestion.</p>
                <h5 class="doshas center">Vata is balanced using warm, wet and heavy elements.</h5>
            </div>
            <div class="modal-content">
                <h4 class="doshas">Pitta (fire and water):</h4>
                <p class="doshas">The three dominant qualities of Pitta are light, hot and oily. Pitta dominant individuals have a medium build, proportionate facial features and sparkling or intense eyes. They are orderly, intense and focused. Pitta individuals have a sharp appetite and can be irritable when hungry. When Pitta is out of balance it can lead to anger, resentment, inflammation and ulcers.</p>
                <h5 class="doshas center">Pitta is balanced through cool, relaxing and nurturing methods.</h5>
            </div>
            <div class="modal-content">
                <h4 class="doshas">Kapha (water and earth):</h4>
                <p class="doshas">The three dominant qualities of Kapha are heavy, cold and oily. Kapha dominant individuals have a large build with full, soft features. They are relaxed, patient and conservative. Kapha individuals have stable and regular digestion, but can be prone to emotional or “boredom” eating. When Kapha is out of balance it can cause attachment, lethargy, depression and congestion.</p>
                <h5 class="doshas center">Kapha is balanced by energizing, mobilizing and stimulating means.</h5>
            </div>
            <div class="modal-content">
                <p class="doshas">*The statements expressed above are general descriptions and do not reflect all considerations. To determine individual doshic combination, schedule a consultation.</p>
            </div>
            <div class="modal-footer">
                <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <!-- <div id="books" class="row"></div> -->
    </div>

    <hr>

    <div class="container col lg-4 md-4 sm-4">
        <h6>Consultations</h6>
        <p>Interested in what Ayurveda can do for you? An Ayurvedic consultation uses pulse reading, questionnaire, visual observation and verbal interview to assess an individuals prakriti (original constitution) vs. vikriti (current state of being). Based
            on the results, methods using herbs, oils, diet, yoga, meditation, mantra, breath work and Ayurvedic treatments are recommended to bring an individuals doshic nature back into balance, resulting in harmony, happiness and health. An individual
            plan is created for each client to address current life stressors and areas of concern.</p>
        <p>If your are looking to incorporate Ayurvedic principles into your lifestyle to promote health and wellness, start by scheduling an Ayurvedic consultation. Begin the journey towards finding daily balance.</p>
        <hr>
        <h6>Initial Visit (1 – 1 1/2 hours): $100</h6>
        <h6>Follow-up Visit (45 min): $50</h6>
        <h6>Mini-Assesment (30 min): $30</h6>
        <hr>
        <p>To schedule a consultation email haley.kalb@gmail.com. If you have any questions please do not hesitate, or to just say hello! </p>

        <div id="books" class="row"></div>
    </div>

</main>
