    <main>

      <div id="container" class="container">
        <div class="row">
          <form action="mail.php" method="POST" id="signUpForm" class="col offset-s2 s8">
            <div class="card">
              <div class="card-content">
                <p class="card-title">Receive the Newsletter</p>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="First Name" id="firstName" type="text" class="validate" name="firstname">
                    <label for="fname">First Name</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Last Name" id="lastName" type="text" class="validate" name="lastname">
                    <label for="lname">Last Name</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Email" id="email" type="text" class="validate" name="email">
                    <label for="email">Email</label>
                  </div>
                </div>

              </div>

              <div class="card-action">
                <button class="waves-effect waves-light btn-large" type="submit" name="action">
                  <i class="material-icons left">perm_identity</i>
                  Sign up
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <br>
        <div class="bio-pic"><img class="right" src="/images/bio.jpg" width="25%"></div>
        <h6>About</h6>
        <p>Haley Kalb, 500hr E-RYT and Certified Ayurvedic Practitioner, is a devoted practitioner and disciple of yoga and Ayurveda. She guides her students to explore the union of body, mind and spirit through Ayurvedic principles, asana (posture), pranayama (breath work) and meditation.</p>
        <p>Haley maintains specialty certifications in Restorative Yoga, Yoga Nidra, Yin Yoga, Prenatal Yoga, Stand-up Paddleboard Yoga, Laughter Yoga and is Butender certified in the state of Colorado. Current First Aid, CPR & AED certified.</p>
      </div>

    </main>
