    <main>

      <div class="container col lg-4 md-4 sm-4">
        <h4>HibisKISS Ayurvedic Vikriti Questionnaire</h4>
        <p>The characteristics below are considered to change throughout your life. They are affected by current lifestyle choices, diet, age, season, time of day and emotional stressors. These factors help to determine your current state of being, also known as you vikriti. Circle the boxes below in each column that best represent your current experiences, or the closest match. You may check off as many boxes per column that apply. If no box applies in a column, leave blank.</p>
      </div>

      <hr>

      <div class="container">
        <div class="col lg-4 md-4 sm-4">
          <h5 class="center">Current Physical Doshic State</h5>
          <form action="#">
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th></th>
              <th>Vata</th>
              <th>Pitta</th>
              <th>Kapha</th>
            </tr>
            </thead>
          <tbody>
            <tr>
              <td>Eating Habits</td>
              <td><input class="indigo lighten-2" type="checkbox" id="test1"/><label class="quizfont" for="test1">Irregular</label></td>
              <td><input type="checkbox" id="test2"/><label class="quizfont" for="test2">Regular</label></td>
              <td><input type="checkbox" id="test3"/><label class="quizfont" for="test3">Excessive</label></td>
            </tr>
            <tr>
              <td>Sleeping Habits</td>
              <td><input type="checkbox" id="test4"/><label class="quizfont" for="test4">Irregular</label></td>
              <td><input type="checkbox" id="test5"/><label class="quizfont" for="test5">Regular</label></td>
              <td><input type="checkbox" id="test6"/><label class="quizfont" for="test6">Excessive</label></td>
            </tr>
            <tr>
              <td>Weight</td>
              <td><input type="checkbox" id="test7"/><label class="quizfont" for="test7">Underweight</label></td>
              <td><input type="checkbox" id="test8"/><label class="quizfont" for="test8">Regular</label></td>
              <td><input type="checkbox" id="test9"/><label class="quizfont" for="test9">Overweight</label></td>
            </tr>
            <tr>
              <td>Appetite</td>
              <td><input type="checkbox" id="test10"/><label class="quizfont" for="test10">Irregular</label></td>
              <td><input type="checkbox" id="test11"/><label class="quizfont" for="test11">Strong</label></td>
              <td><input type="checkbox" id="test12"/><label class="quizfont" for="test12">Steady</label></td>
            </tr>
            <tr>
              <td>Digestion</td>
              <td><input type="checkbox" id="test13"/><label class="quizfont" for="test13">Irregular (gas/burping)</label></td>
              <td><input type="checkbox" id="test14"/><label class="quizfont" for="test14">Good (acid indigestion)</label></td>
              <td><input type="checkbox" id="test15"/><label class="quizfont" for="test15">Slow</label></td>
            </tr>
            <tr>
              <td>Metabolism</td>
              <td><input type="checkbox" id="test16"/><label class="quizfont" for="test16">Quick</label></td>
              <td><input type="checkbox" id="test17"/><label class="quizfont" for="test17">Average</label></td>
              <td><input type="checkbox" id="test18"/><label class="quizfont" for="test18">Slow</label></td>
            </tr>
            <tr>
              <td>Elimination</td>
              <td><input type="checkbox" id="test19"/><label class="quizfont" for="test19">Irregular (constipation)</label></td>
              <td><input type="checkbox" id="test20"/><label class="quizfont" for="test20">Regular (loose stool)</label></td>
              <td><input type="checkbox" id="test21"/><label class="quizfont" for="test21">Slow but regular</label></td>
            </tr>
            <tr>
              <td>Enerygy Level</td>
              <td><input type="checkbox" id="test22"/><label class="quizfont" for="test22">Irregular (comes in bursts)</label></td>
              <td><input type="checkbox" id="test23"/><label class="quizfont" for="test23">Moderate/Focused</label></td>
              <td><input type="checkbox" id="test24"/><label class="quizfont" for="test24">Low/Slow Paced</label></td>
            </tr>
            <tr>
              <td>Endurance</td>
              <td><input type="checkbox" id="test25"/><label class="quizfont" for="test25">Low</label></td>
              <td><input type="checkbox" id="test26"/><label class="quizfont" for="test26">Moderate</label></td>
              <td><input type="checkbox" id="test27"/><label class="quizfont" for="test27">High</label></td>
            </tr>
            <tr>
              <td>Resistance to Illness</td>
              <td><input type="checkbox" id="test28"/><label class="quizfont" for="test28">Low</label></td>
              <td><input type="checkbox" id="test29"/><label class="quizfont" for="test29">Moderate</label></td>
              <td><input type="checkbox" id="test30"/><label class="quizfont" for="test30">Strong</label></td>
            </tr>
            <tr>
              <td>Skin</td>
              <td><input type="checkbox" id="test31"/><label class="quizfont" for="test31">Thin/Dry/Rough/Itchy</label></td>
              <td><input type="checkbox" id="test32"/><label class="quizfont" for="test32">Aggravated/Rashes/Hives</label></td>
              <td><input type="checkbox" id="test33"/><label class="quizfont" for="test33">Thick/Congested/Oily</label></td>
            </tr>
            <tr>
              <td>Joints</td>
              <td><input type="checkbox" id="test34"/><label class="quizfont" for="test34">Stiff/Cracking/Tearing Pain</label></td>
              <td><input type="checkbox" id="test35"/><label class="quizfont" for="test35">Inflamed/Tender/Sharp Pain</label></td>
              <td><input type="checkbox" id="test36"/><label class="quizfont" for="test36">Aches/Swollen/Dull Pain</label></td>
            </tr>
          </tbody>
          </table>
        </form>
        </div>

        <br>
        <br>

        <div class="col lg-4 md-4 sm-4">
          <h5 class="center">Current Mental and Emotional Doshic State</h5>
          <table class="highlight responsive-table">
            <thead>
            <tr>
              <th></th>
              <th>Vata</th>
              <th>Pitta</th>
              <th>Kapha</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Routine</td>
              <td><input type="checkbox" id="test37"/><label class="quizfont" for="test37">Dislikes/Restless</label></td>
              <td><input type="checkbox" id="test38"/><label class="quizfont" for="test38">Plans/Logical</label></td>
              <td><input type="checkbox" id="test39"/><label class="quizfont" for="test39">Likes/Resists Change</label></td>
            </tr>
            <tr>
              <td>Memory</td>
              <td><input type="checkbox" id="test40"/><label class="quizfont" for="test40">Quick but Absentminded</label></td>
              <td><input type="checkbox" id="test41"/><label class="quizfont" for="test41">Sharp Memory/Focused Mind</label></td>
              <td><input type="checkbox" id="test42"/><label class="quizfont" for="test42">Slow with good Retention</label></td>
            </tr>
            <tr>
              <td>Decision Making</td>
              <td><input type="checkbox" id="test43"/><label class="quizfont" for="test43">Difficult/Active Mind</label></td>
              <td><input type="checkbox" id="test44"/><label class="quizfont" for="test44">Quick/Decisive</label></td>
              <td><input type="checkbox" id="test45"/><label class="quizfont" for="test45">Takes time/Gathers details</label></td>
            </tr>
            <tr>
              <td>Concentration</td>
              <td><input type="checkbox" id="test46"/><label class="quizfont" for="test46">Spacey/Scattered</label></td>
              <td><input type="checkbox" id="test47"/><label class="quizfont" for="test47">Clear/Sharp</label></td>
              <td><input type="checkbox" id="test48"/><label class="quizfont" for="test48">Stable/Dull</label></td>
            </tr>
            <tr>
              <td>Speech Pattern</td>
              <td><input type="checkbox" id="test49"/><label class="quizfont" for="test49">Quick/Talkative</label></td>
              <td><input type="checkbox" id="test50"/><label class="quizfont" for="test50">Concise/Orderly/Fluid</label></td>
              <td><input type="checkbox" id="test51"/><label class="quizfont" for="test51">Slow/Deep/Conservative</label></td>
            </tr>
            <tr>
              <td>Mannerisms</td>
              <td><input type="checkbox" id="test52"/><label class="quizfont" for="test52">Enthusiastic/Lively/Flexible</label></td>
              <td><input type="checkbox" id="test53"/><label class="quizfont" for="test53">Competitive/Purposeful/Intense</label></td>
              <td><input type="checkbox" id="test54"/><label class="quizfont" for="test54">Stable/Calm/Composed</label></td>
            </tr>
            <tr>
              <td>Work Traits</td>
              <td><input type="checkbox" id="test55"/><label class="quizfont" for="test55">Imaginative/Inventive</label></td>
              <td><input type="checkbox" id="test56"/><label class="quizfont" for="test56">Efficient/Organized/Accurate</label></td>
              <td><input type="checkbox" id="test57"/><label class="quizfont" for="test57">Deailed/Methodical</label></td>
            </tr>
            <tr>
              <td>Stress Response</td>
              <td><input type="checkbox" id="test58"/><label class="quizfont" for="test58">Anxious/Nervous/Fearful</label></td>
              <td><input type="checkbox" id="test59"/><label class="quizfont" for="test59">Irritable/Resentful/Angry</label></td>
              <td><input type="checkbox" id="test60"/><label class="quizfont" for="test60">Greedy/Denial/Depressed</label></td>
            </tr>
            <tr>
              <td>Social Preference</td>
              <td><input type="checkbox" id="test61"/><label class="quizfont" for="test61">Large Gatherings</label></td>
              <td><input type="checkbox" id="test62"/><label class="quizfont" for="test62">Small Gatherings</label></td>
              <td><input type="checkbox" id="test63"/><label class="quizfont" for="test63">Time Alone</label></td>
            </tr>
            <tr>
              <td>Spending Habits</td>
              <td><input type="checkbox" id="test64"/><label class="quizfont" for="test64">Impulsive</label></td>
              <td><input type="checkbox" id="test65"/><label class="quizfont" for="test65">Budgets</label></td>
              <td><input type="checkbox" id="test66"/><label class="quizfont" for="test66">Reluctant/Saves</label></td>
            </tr>
            <tr>
              <td>Food Cravings</td>
              <td><input type="checkbox" id="test67"/><label class="quizfont" for="test67">Light/Cold/Raw/Caffiene</label></td>
              <td><input type="checkbox" id="test68"/><label class="quizfont" for="test68">Spicy/Hot/Fried/Sour</label></td>
              <td><input type="checkbox" id="test69"/><label class="quizfont" for="test69">Sweet/Heavy/Dairy/Beef</label></td>
            </tr>
            <tr>
              <td>Climate Preference</td>
              <td><input type="checkbox" id="test70"/><label class="quizfont" for="test70">Tropical</label></td>
              <td><input type="checkbox" id="test71"/><label class="quizfont" for="test71">Cool & Dry</label></td>
              <td><input type="checkbox" id="test72"/><label class="quizfont" for="test72">Dry & Warm</label></td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      <br>

<div class="conatiner center">
      <script>
      $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
      </script>

      <!-- Modal Trigger -->
      <a class="btn-large" href="#modal1">Vata | Pitta | Kapha</a>

      <!-- Modal Structure -->
      <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
          <h4 class="doshas">Vata (ether and air):</h4>
          <p class="doshas">The three dominant qualities of Vata are light, cold and dry. Vata dominant individuals have thin frames and small or narrow features. They are creative, spontaneous and enjoy change and movement. Vata individuals have little or a light appetite. When Vata is out of balance it may produce anxiety, fear, insomnia, and irregular digestion.</p>
          <h5 class="doshas center">Vata is balanced using warm, wet and heavy elements.</h5>
        </div>
        <div class="modal-content">
          <h4 class="doshas">Pitta (fire and water):</h4>
          <p class="doshas">The three dominant qualities of Pitta are light, hot and oily. Pitta dominant individuals have a medium build, proportionate facial features and sparkling or intense eyes. They are orderly, intense and focused. Pitta individuals have a sharp appetite and can be irritable when hungry. When Pitta is out of balance it can lead to anger, resentment, inflammation and ulcers.</p>
          <h5 class="doshas center">Pitta is balanced through cool, relaxing and nurturing methods.</h5>
        </div>
        <div class="modal-content">
          <h4 class="doshas">Kapha (water and earth):</h4>
          <p class="doshas">The three dominant qualities of Kapha are heavy, cold and oily. Kapha dominant individuals have a large build with full, soft features. They are relaxed, patient and conservative. Kapha individuals have stable and regular digestion, but can be prone to emotional or “boredom” eating. When Kapha is out of balance it can cause attachment, lethargy, depression and congestion.</p>
          <h5 class="doshas center">Kapha is balanced by energizing, mobilizing and stimulating means.</h5>
        </div>
        <div class="modal-content">
          <p class="doshas">*The statements expressed above are general descriptions and do not reflect all considerations. To determine individual doshic combination, schedule a consultation.</p>
        </div>
        <div class="modal-footer">
          <a href="/quiz" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
    </div>
    <br>

    </main>
