    <main class="container">
      <div class="row">
        <form id="loginForm" class="col offset-s2 s6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Log in</span>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Email" id="email" type="text" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Password" id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
            </div>

            <div class="card-action">
              <button class="btn-large" type="submit" name="action">
                <i class="material-icons left">lock</i>
                Log in
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
