<main>
    <div class="container center">
        <h1 id="explanation">Good Samaritans</h1>
    </div>

    <div class="container center">
        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/yogaalliance.png" width="50%"></div>
            <a href="https://www.yogaalliance.org/"><h6>Yoga Alliance</h6></a>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="bio-pic nama"><img class="center" src="/images/nama-logo.png" width="50%"></div>
            <a href="http://www.ayurvedanama.org/"><h6 class="nama">NAMA</h6></a>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="bio-pic nama"><img class="center" src="/images/WPA-logo.png" width="50%"></div>
            <a href="http://worldpaddleassociation.com/"><h6 class="nama">World Paddle Association</h6></a>
        </div>
    </div>

    <br>
    <br>

        <div class="container center">
            <div class="col-xs-6 col-md-4">
                <div class="bio-pic"><img class="center" src="/images/sammiller.jpg" width="160px;" height="160px;"></div>
                <a href="https://www.linkedin.com/in/sammzamm/"><h6>Photographer</h6></a>
                <p>Samuel Miller</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="bio-pic"><img class="center" src="/images/realroots.jpg" width="50%"></div>
                <a href="https://realroots.co/"><h6>Realroots</h6></a>
                <p>We make root shots</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="bio-pic"><img class="center" src="/images/abbylane.jpg" width="50%"></div>
                <a href="https://www.instagram.com/abbylaneclothing/"><h6>Abby Lane</h6></a>
                <p>Logo Designer</p>
            </div>
        </div>

</main>
