<main>
    <div class="container center">
        <h1 id="explanation">Good Samaritans</h1>
    </div>

    <div class="container center">
        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/ya.png" width="50%" alt="yoga alliance"></div>
            <a href="https://www.yogaalliance.org/"><h6>Yoga Alliance</h6></a>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/nama.jpg" width="50%" alt="NAMA"></div>
            <a href="http://www.ayurvedanama.org/"><h6>National Ayurvedic Medical Association</h6></a>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/wpa.jpg" width="50%" alt="world paddle association"></div>
            <a href="http://worldpaddleassociation.com/"><h6>World Paddle Association</h6></a>
        </div>
    </div>

    <br>
    <br>

    <div class="container center">
        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/balancebliss.jpg" width="50%" alt="balance & bliss"></div>
            <a href="http://www.balanceandbliss.com/"><h6>Balance and Bliss</h6></a>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/lotuspond.jpg" width="160px;" height="160px;" alt="the lotus pond"></div>
            <a href="http://www.yogalotuspond.com/"><h6>The Lotus Pond Center For Yoga & Health</h6></a>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="bio-pic"><img class="center" src="/images/laughteryoga.png" width="160px;" height="160px;" alt="laughter yoga intenational"></div>
            <a href="https://laughteryoga.org/"><h6>Laughter Yoga International</h6></a>
        </div>
    </div>

    <br>
    <br>

        <div class="container center">
            <div class="col-xs-6 col-md-4">
                <div class="bio-pic"><img class="center" src="/images/sammiller.jpg" width="160px;" height="160px;" alt="photographer"></div>
                <a href="https://www.linkedin.com/in/sammzamm/"><h6>Photographer</h6></a>
                <p>Samuel Miller</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="bio-pic"><img class="center" src="/images/realroots.jpg" width="50%" alt="realroots"></div>
                <a href="https://realroots.co/"><h6>Realroots</h6></a>
                <p>We make root shots</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <div class="bio-pic"><img class="center" src="/images/abbylane.jpg" width="50%" alt="logo designer"></div>
                <a href="https://www.instagram.com/abbylaneclothing/"><h6>Abby Lane</h6></a>
                <p>Logo Designer</p>
            </div>
        </div>

</main>
