<div class="container center">
  <h3>Restorative Yoga Sequence</h3>
    <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0sTDOh_G6Lg" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<hr>
<div class="container center">
  <h3>Mindful Meditation</h3>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/niA6Rur3vBw" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<hr>
<div class="container center">
  <h3>Ayuveda 101: An Introduction</h3>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zoU-05e0M4s" frameborder="0" allowfullscreen></iframe>
</div>
<br>
<hr>
<div class="container center">
  <h3>Pranayama:Nadi Shodhana</h3>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vpDn4W2rF8w" frameborder="0" allowfullscreen></iframe>
</div>
