<script type="text/javascript">
$('.pushpin-nav-wrapper').each(function() {
var $this = $(this);
var $target = $('#' + $(this).attr('data-target'));
$this.pushpin({
  top: $target.offset().top,
  bottom: $target.offset().top + $target.outerHeight() - $this.height()
});
});

$(document).ready(function(){
  $('.brand-logo').pushpin({
    top: 0,
    bottom: 1000,
    offset: 0
  });
});
</script>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <span>
          <img class="logo-png" src="/images/logo.png"/>
        </span>
        <span class="logo-text">HibisKISS Yoga & Ayurveda | ॐ</span>
      </a>

      <a class="button-collapse" data-activates="mobileNav">
        <i class="material-icons">menu</i>
      </a>

      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li id="nav-font"><a href="/templates/yoga.html">Path To Enlightenment</a></li>
        <li class="divider"></li>
        <li id="nav-font"><a href="/templates/poses.template.html">Asana Library</a></li>
        <li class="divider"></li>
        <li id="nav-font"><a href="/templates/schedule.html">Schedule</a></li>
      </ul>

      <ul id="dropdown2" class="dropdown-content">
        <li id="nav-font"><a href="/templates/ayurveda.html">The Science Of Life</a></li>
        <li class="divider"></li>
        <li id="nav-font"><a href="/templates/dosha.html">Determine Your Vikriti</a></li>
        <li class="divider"></li>
        <li id="nav-font"><a href="/templates/schedule.html">Workshops</a></li>
      </ul>

      <ul id="dropdown3" class="dropdown-content">
        <li id="nav-font"><a href="/templates/academy.html">Yoga</a></li>
        <li class="divider"></li>
        <li id="nav-font"><a href="#!">Ayurveda</a></li>
      </ul>

      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-button" href="/templates/yoga.html" data-activates="dropdown1">Yoga | योग<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-button" href="/templates/ayurveda.html" data-activates="dropdown2">Ayurveda | आयुर्वेद<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-button" href="/templates/academy.html" data-activates="dropdown3">Online Learning<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/templates/connect.html">Connect</li>
          <li><a href="/templates/store.html">Shop</li>
        </ul>
      </div>

      <ul id="mobileNav" class="side-nav">
        <li><a href="/templates/yoga.html">Yoga</a></li>
        <li><a href="/templates/ayurveda.html">Ayurveda</li>
        <li><a href="/templates/academy.html">Online Learning</li>
        <li><a href="/templates/connect.html">Connect</li>
        <li><a href="/templates/store.html">Shop</li>
      </ul>
    </div>
  </nav>
  <!-- <div class="parallax-container">
    <div class="back"><img src="/images/group.jpg" width="600px;"></div>
  </div> -->
</div>

<script type="text/javascript">
$( document ).ready(function(){
  $(".dropdown-button").dropdown();
})
</script>
