    <main>

      <div id="container" class="container">
        <div class="row center">
          <form action="mail.php" method="POST" id="signUpForm" class="col offset-s2 s8">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Receive the Newsletter</span>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="First Name" id="firstName" type="text" class="validate" name="firstname">
                    <label for="fname">First Name</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Last Name" id="lastName" type="text" class="validate" name="lastname">
                    <label for="lname">Last Name</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Email" id="email" type="text" class="validate" name="email">
                    <label for="email">Email</label>
                  </div>
                </div>

              </div>

              <div class="card-action">
                <button class="waves-effect waves-light btn-large" type="submit" name="action">
                  <i class="material-icons left">perm_identity</i>
                  Sign up
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>

    </main>
