<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
    <div ng-click="$ctrl.home()" id="axis" class="container animated">
      <img class="object lotus-bottom lotus-bottom-move" src="/images/lotus_bottom.png">
      <img class="object lotus-top expand lotus-top-move" src="/images/lotus_top.png">
      <div class="center">
        <h2 id="splash">"I did not come to teach you.</h2>
        <h2 id="splash">I came to love you.</h2>
        <h2 id="splash">Love will teach you."<h2>
        <p>(Author Unknown)</p>
      </div>
    </div>
