    <main>
      <div class="container center">
        <h1 id="explanation">What is Yoga?</h1>
      </div>
      <div class="container">
        <div class="row">
        <div class="col sm-6">
          <h6>Yoga: The path to enlightenment. Literally translated as “union” or “to yoke”, a joining of the mind and body, finding your connection with the divine, ultimately leading to liberation.</h6>
          <div class="center">
          <h6>There are four main paths of Yoga:</h6>
          <ul>
            <li class="yogaListItems">Karma Yoga: Yoga of Action</li>
            <li class="yogaListItems">Bhakti Yoga: Yoga of Devotion</li>
            <li class="yogaListItems">Jnana Yoga: Yoga of Knowledge</li>
            <li class="yogaListItems">Raja Yoga: Yoga of Mental & Physical Control</li>
          </ul>
        </div>
          <h6>Practicing the physical postures, or asana, prepares the body to sit in meditation. The path of self-awareness begins with the postures, yet moving into pure consciousness is much, much more.</h6>
        </div>
      </div>
      </div>

      <div class="container">
        <div class="center"><img src="/images/ruca-tree.jpg" width="50%"></div>
      </div>
      <br>

      <div class="container">
        <div class="row">
          <h5>The Eight Limbs of Classical (Raja) Yoga (as laid out in Patanjali’s Yoga Sutra):</h5>
          <div class="col s6">
            <ul>
              <li class="yogaListItems">Yamas: Regulations – Five Rules of Social Conduct</li>
              <ol>
                <li class="yogaListItems">Ahimsa: non-harming, compassion</li>
                <li class="yogaListItems">Satya: truthfulness</li>
                <li class="yogaListItems">Asteya: non-stealing</li>
                <li class="yogaListItems">Brahmacarya: self-control, managing energy, chastity</li>
                <li class="yogaListItems">Aparigraha: non-possessive, non-hoarding</li>
              </ol>
              <li class="yogaListItems">Niyamas – Observances or Regular Habits</li>
              <ol>
                <li class="yogaListItems">Saucha: purity, cleanliness, self-care</li>
                <li class="yogaListItems">Samtosa: contentment</li>
                <li class="yogaListItems">Tapas: focused discipline, dedicated practice</li>
                <li class="yogaListItems">Svadhyaya: self-study</li>
                <li class="yogaListItems">Isvara Pranidhana: ritual act of devotion, surrender to a higher power</li>
              </ol>
            </ul>
          </div>
          <div class="col s6">
            <ul>
              <li class="yogaListItems">Asana – Steady Position, Relaxed Posture</li>
              <li class="yogaListItems">Pranayama – Breath Awareness and Control</li>
              <li class="yogaListItems">Pratyahara – Withdrawal of the Senses, Internal Focus</li>
              <li class="yogaListItems">Dharana – Concentration, One Pointed Attention</li>
              <li class="yogaListItems">Dhyana – Meditation</li>
              <li class="yogaListItems">Samadhi – Enlightenment</li>
            </ul>
            <p>The limbs sequence together as a pathway to enlightenment, nirvana, or bliss.</p>
          </div>
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="row">
          <h4 class="center">Private Yoga Instruction</h4>
          <div class="col s4">
            <h6>PRIVATE YOGA – INDIVIDUAL/GROUP</h6>
            <p>Private Yoga classes tailored for your specific needs in a one on one setting. Schedule the times that work for you. Call for pricing.</p>
          </div>
          <div class="col s4">
            <h6>WORKSHOPS</h6>
            <p>Schedule at your facility in Ayurveda, Laughter Yoga, Restorative Yoga, Yoga Nidra, Prenatal Yoga, Yin Yoga, Pranayama or Meditation. Call for pricing.</p>
          </div>
          <div class="col s4">
            <h6>CORPORATE YOGA</h6>
            <p>Classes scheduled at your place of business whether it be a corporate building, educational facility or something in between. Call for pricing.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row center">
          <div class="col s4">
            <form class="center" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KSKJ7MNPTT4LJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
          <div class="col s4">
            <form class="center" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KSKJ7MNPTT4LJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
          <div class="col s4">
            <form class="center" target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="KSKJ7MNPTT4LJ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </div>
        </div>
      </div>

    </main>
